@font-face {
  font-family: 'UnifrakturCook';
  src: url('/font/UnifrakturCook-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideMediumTrial.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideBoldTrial.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideHeavyTrial.otf') format('opentype');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideSuperTrial.otf') format('opentype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideMediumItalicTrial.otf') format('opentype');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideBoldItalicTrial.otf') format('opentype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideHeavyItalicTrial.otf') format('opentype');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'DRUKWIDE';
  src: url('/font/DrukWideSuperItalicTrial.otf') format('opentype');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

:root {
  font-family: 'DRUKWIDE', Impact, sans-serif;
  color: #d0d0d0;
  background: #050505;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-weight: 400;
}

* { box-sizing: border-box; }

html { min-width: 320px; scroll-behavior: smooth; }

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button, a { font: inherit; }

::selection { color: #050505; background: #d0d0d0; }
